body {
	color: black;
	background: white;
	text-align: center;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}
h1 {
	color: black;
	background: #E6E6E6;
 	border: solid #E6E6E6 35px;
	text-align: center;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	text-decoration:none;
	border:0;
	width : 162px;
	height : 113px;
	margin : 0;
	padding : 0;
	background : url(eye of horus.jpg) no-repeat 0 0;
}
 
h1 a {
	display : block;
	height : 113px;
	text-indent : -9999px; 
}

p {
	color: black;
	background: white;
	font: 20px/1.5 courier;
	border: solid black;
}

#footer-info {
	background: linear-gradient(to bottom, #66ff33 0%, #666633 100%) center;
	color: white;
	border: 4px linear-gradient(to bottom, #66ff33 0%, #666633 100%) solid;
}
/* Add a gray right border to all list items, except the last item (last-child) */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;
	font-size: 25;
}

ul.topnav li a:hover:not(.active) {background-color: gray;}

ul.topnav li a.active {background-color: gray;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
